root = true

[*]
indent_style = space
indent_size = 4

[{*.rb,Rakefile}]
indent_style = space
indent_size = 2

[*.vim]
indent_style = space
indent_size = 4

[*.snippets]
indent_style = tab
indent_size = 4
