[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = git@github.com:gmarik/vundle.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
