[submodule "vim/vim.symlink/bundle/vim-endwise"]
	path = vim/vim.symlink/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/vim.symlink/bundle/vim-rake"]
	path = vim/vim.symlink/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/scss-syntax"]
	path = vim/vim.symlink/bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim/vim.symlink/bundle/vim-ragtag"]
	path = vim/vim.symlink/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/vim.symlink/bundle/vim-jquery"]
	path = vim/vim.symlink/bundle/vim-jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "vim/vim.symlink/bundle/vim-node"]
	path = vim/vim.symlink/bundle/vim-node
	url = https://github.com/mmalecki/vim-node.js.git
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/vim.symlink/bundle/vim-cucumber"]
	path = vim/vim.symlink/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/vim.symlink/bundle/vim-ruby"]
	path = vim/vim.symlink/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vim-powerline"]
	path = vim/vim.symlink/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/vim.symlink/bundle/delimitMate"]
	path = vim/vim.symlink/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/vim.symlink/bundle/vim-less"]
	path = vim/vim.symlink/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/vim.symlink/bundle/vitality"]
	path = vim/vim.symlink/bundle/vitality
	url = https://github.com/sjl/vitality.vim.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/jellybeans"]
	path = vim/vim.symlink/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/vim.symlink/bundle/tcomment_vim"]
	path = vim/vim.symlink/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim.symlink/bundle/vim-pathogen"]
	path = vim/vim.symlink/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/vim.symlink/bundle/vim-jade"]
	path = vim/vim.symlink/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/vim.symlink/bundle/vim-mustache"]
	path = vim/vim.symlink/bundle/vim-mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/vim.symlink/bundle/vim-html5"]
	path = vim/vim.symlink/bundle/vim-html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/vim.symlink/bundle/vim-matchit"]
	path = vim/vim.symlink/bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
