# This is Git's per-user configuration file.
#  Please adapt and uncomment the following lines:    
[alias]
    br = branch
    co = checkout
    ci = commit
    st = status
    rs = reset
    us = reset HEAD --
[user]
	name = Jake (Chien) Le
	email = chien.le@shopee.com
[url "ssh://gitlab@git.garena.com:2222/"]
	insteadOf = https://git.garena.com/
[core]
	excludesfile = /Users/chien.le/.gitignore_global
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
	attributesfile = ~/.gitattributes
[push]
	default = current
[pull]
	default = current
	ff = only
[log]
    date = relative
[format]
    pretty = format:%C(yellow)%H %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s

[pager]
    branch = false
    log = false

[color]
    ui = always
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
