snippet var "Insert a CSS variable"
var(--$1)$2
endsnippet

snippet rgb "Insert rgb value"
rgb($1, $2, $3)
endsnippet

snippet rgba "insert rgba value"
rgb($1, $2, $3, $4)
endsnippet

snippet hsl "Insert hsl value"
hsl($1, $2, $3)
endsnippet

snippet hsla "Insert hsla value"
hsla($1, $2, $3, $4)
endsnippet
